.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8e8e8;
}

.color-list {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.color-box {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
}

